        <div class="discount">
            <h4>加入會員取得 9 折優惠</h4>
            <div class="discountBtn"><a href="#">馬上註冊</a></div>
        </div>

        <footer>
            <div class="container">
                <ul>
                    <li class="mr-a"><h2 class="logo">URBNSTEP<div class="dot"></div></h2></li>
                    <li><a href="#">商品列表</a></li>
                    <li><a href="#">品牌故事</a></li>
                </ul>

                <div class="copyright">
                    <p>Copyright ©2025 URBNSTYLE<br>All Rights Reserved.</p>
                </div>
            </div>
        </footer>