<header>
        <div class="container">
            <ul>
                <li><a href="index.html" class="padding-0"><h2 class="logo">URBNSTEP<div class="dot"></div></h2></a></li>
                <li><a href="productList.html" class="d-none d-md-block">商品列表</a></li>
                <li><a href="about.html" class="d-none d-md-block">品牌故事</a></li>
                <li class="ml-a"><a href="#"><i class="bi bi-person"></i></a></li>
            </ul>
            <ul class="row p-0 d-sm-flex d-md-none">
                <li class="col-6 text-center nav-bg-l">
                    <a href="productList.html" class=" me-0">商品列表</a>
                </li>
                <li class="col-6 text-center nav-bg-r">
                    <a href="about.html">品牌故事</a>
                </li>
            </ul>
        </div>
    </header>